<div class="jumbotron">
  <div class="container">
    <h1>Project Bootstrap <small>Weekend 4</small></h1>
    <div class="col-xs-6">

      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

  </div>
</div>
<div class="row">
  <h1>meet the team</h1>
  <div class="col-xs-3">
    <h1>Pudge</h1>
    <h2>
      <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/9/9f/Pudge.png?version=5b76eeddc9ff60a553d8ecdebbd45d82"
            alt="..."
            WIDTH="180"
            class="img-responsive img-circle">
    </h2>
  </div>
  <div class="col-xs-3">
    <h1>Invoker</h1>
    <h2>
      <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/3/39/Invoker.png?version=cc2a440da5178b1ebbf2778cba02b9b2"
            alt="..."
            WIDTH="180"
            class="img-responsive img-circle">
    </h2>
  </div>
  <div class="col-xs-3">
    <h1>Necrophos</h1>
    <h2>
      <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/1/13/Necrophos.png?version=6a7322564b0be5880c98d3ba32ecae1c"
            alt="..."
            WIDTH="180"
            class="img-responsive img-circle">
    </h2>
  </div>
  <div class="col-xs-3">
    <h1>Furion</h1>
    <h2>

      <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/a/aa/Nature's_Prophet.png?version=53aea750ccdf3b838f9b1a15f7a2c043"

            WIDTH="180"
            class="img-responsive img-circle">


    </h2>
  </div>
</div>
